// Adjust the constants in this file to hold a valid
// api key and a valid provider key
// Then save the file as setup_the_test.go
//
// (there is a git ignore on setup_the test.go -- no need to be afraid of distributing your keys)

package prowlgo

var (
	aValidAPIKey = []string{"e192384beae856efa6dda87d6a00837cf968bd8c"}
	multipleValidAPIKeys = []string{"e192384beae856efa6dda87d6a00837cf968bd8c", "e19238423ae856efa6ddadf34a00837cf968bd8c", "e17ef34beae856efa6dda87d6a0082130168bd8c"}
	aValidProviderKey = "0267157cc27a27f99ad23d1f785f0e7897df0d6b"
)
